<div class="modal-header">
    <h2>@L("")Agregar Noticia</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalNuevaNoticia">
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptTitulo.$dirty && modalNuevaNoticia.iptTitulo.$invalid}">
            <label class="control-label" for="iptTitulo">@L("")Titulo</label>
            <textarea class="form-control" id="iptTitulo" name="iptTitulo" placeholder="@L("")Ingrese la Noticia" ng-model="noticia.titulo" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalNuevaNoticia.iptTitulo.$dirty && modalNuevaNoticia.iptTitulo.$invalid">
                <small ng-show="modalNuevaNoticia.iptTitulo.$error.required" class="text-danger">
                    @L("")El titulo es requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptDeescripcion.$dirty && modalNuevaNoticia.iptDeescripcion.$invalid}">
            <label class="control-label" for="modalNuevaNoticia">@L("")Descripción</label>
            <textarea class="form-control" id="iptDeescripcion" name="iptDeescripcion" placeholder="@L("")Ingrese la desrcipción" ng-model="noticia.descripcion" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalNuevaNoticia.iptDeescripcion.$dirty && modalNuevaNoticia.iptDeescripcion.$invalid">
                <small ng-show="modalNuevaNoticia.iptDeescripcion.$error.required" class="text-danger">
                    @L("")La descripción es requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptImagen.$dirty && modalNuevaNoticia.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <label class="control-label" for="iptImagen">@L("")URL Imagen</label>
                    <input type="text" class="form-control" id="iptImagen" name="iptImagen" placeholder="@L("")Ingrese la URL de la imagen" ng-model="noticia.urlImagen" required maxlength="4096" />
                    <div ng-show="modalNuevaNoticia.iptImagen.$dirty && modalNuevaNoticia.iptImagen.$invalid">
                        <small ng-show="modalNuevaNoticia.iptImagen.$error.required" class="text-danger">
                            @L("")La URL de la imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{noticia.urlImagen}}" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalNuevaNoticia.$invalid">@L("")Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>