<div class="modal-header">
    <h2>@L("")Agregar Noticia</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalNuevaNoticia">
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptTitulo.$dirty && modalNuevaNoticia.iptTitulo.$invalid}">
            <label class="control-label" for="iptTitulo">@L("")Titulo</label>
            <textarea class="form-control" id="iptTitulo" name="iptTitulo" placeholder="@L("")Ingrese la Noticia" ng-model="noticia.titulo" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalNuevaNoticia.iptTitulo.$dirty && modalNuevaNoticia.iptTitulo.$invalid">
                <small ng-show="modalNuevaNoticia.iptTitulo.$error.required" class="text-danger">
                    @L("")El titulo es requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptDeescripcion.$dirty && modalNuevaNoticia.iptDeescripcion.$invalid}">
            <label class="control-label" for="modalNuevaNoticia">@L("")Descripción</label>
            <textarea class="form-control" id="iptDeescripcion" name="iptDeescripcion" placeholder="@L("")Ingrese la desrcipción" ng-model="noticia.descripcion" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalNuevaNoticia.iptDeescripcion.$dirty && modalNuevaNoticia.iptDeescripcion.$invalid">
                <small ng-show="modalNuevaNoticia.iptDeescripcion.$error.required" class="text-danger">
                    @L("")La descripción es requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptEnlace.$dirty && modalNuevaNoticia.iptEnlace.$invalid}">
            <label class="control-label" for="iptEnlace">@L("")Enlace para Compartir</label>
            <input type="text" class="form-control" id="iptEnlace" name="iptEnlace" placeholder="@L("")Ingrese el enlace para compartir" ng-model="noticia.url" maxlength="4096" />
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaNoticia.iptImagen.$dirty && modalNuevaNoticia.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label" for="iptImagen">@L("")Imagen</label>
                        </div>
                    </div>
                    <div class="row bow-margin-top-10">
                        <div class="col-md-12">
                            <div class="btn btn-info" ngf-select ngf-change="onFileSelect($files)">Seleccionar imagen</div>
                        </div>
                        <div class="col-md-12 bow-padding-top-10" ng-show="showProgressBar">
                            <div class="progress ng-isolate-scope text-center" value="0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" style="width: 0%;"></div>
                                <span class="text-nowrap ng-binding ng-scope text-bold">Cargando ...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="iptImagen" name="iptImagen" ng-model="noticia.urlImagen" required />
                    <div ng-show="modalNuevaNoticia.iptImagen.$dirty && modalNuevaNoticia.iptImagen.$invalid">
                        <small ng-show="modalNuevaNoticia.iptImagen.$error.required" class="text-danger">
                            @L("")La imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{noticia.urlImagen}}" />
                </div>
            </div>
        </div>   
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalNuevaNoticia.$invalid">@L("")Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>