<div class="modal-header">
    <h2>@L("")Editar Historia en la Vía</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalEditarHistoriaVial">
        <div class="form-group" ng-class="{'has-error' : modalEditarHistoriaVial.iptNombre.$dirty && modalEditarHistoriaVial.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">@L("")Título</label>
            <input type="text" class="form-control" id="iptNombre" name="iptNombre" placeholder="@L("")Ingrese el título de la historia" ng-model="historiaVial.nombre" required maxlength="1024" />
            <div ng-show="modalEditarHistoriaVial.iptNombre.$dirty && modalEditarHistoriaVial.iptNombre.$invalid">
                <small ng-show="modalEditarHistoriaVial.iptNombre.$error.required" class="text-danger">
                    @L("")El título de la historia es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarHistoriaVial.iptDescripcion.$dirty && modalEditarHistoriaVial.iptDescripcion.$invalid}">
            <label class="control-label" for="iptDescripcion">@L("")Descripción</label>
            <textarea class="form-control" id="iptDescripcion" name="iptDescripcion" placeholder="@L("")Ingrese el contenido de la historia" ng-model="historiaVial.descripcion" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalEditarHistoriaVial.iptDescripcion.$dirty && modalEditarHistoriaVial.iptDescripcion.$invalid">
                <small ng-show="modalEditarHistoriaVial.iptDescripcion.$error.required" class="text-danger">
                    @L("")La descripción del historia es requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarHistoriaVial.iptNombrePersona.$dirty && modalEditarHistoriaVial.iptNombrePersona.$invalid}">
            <label class="control-label" for="iptNombrePersona">@L("")Título</label>
            <input type="text" class="form-control" id="iptNombrePersona" name="iptNombrePersona" placeholder="@L("")Ingrese la persona de la historia" ng-model="historiaVial.nombrePersona" required maxlength="1024" />
            <div ng-show="modalEditarHistoriaVial.iptNombrePersona.$dirty && modalEditarHistoriaVial.iptNombrePersona.$invalid">
                <small ng-show="modalEditarHistoriaVial.iptNombrePersona.$error.required" class="text-danger">
                    @L("")El título de la historia es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarHistoriaVial.selectedCategoria.$dirty && modalEditarHistoriaVial.selectedCategoria.$invalid }">
            <label class="control-label" for="selectedCategoria">@L("")Categoría</label>
            <select ng-model="historiaVial.categoriaId" ng-options="categoria.id as categoria.nombre for categoria in listaCategorias" class="form-control" name="selectedCategoria" id="selectedCategoria">
                <option value="">@L("")Seleccione...</option>
            </select>
            <div ng-show="modalEditarHistoriaVial.selectedCategoria.$dirty && modalEditarHistoriaVial.selectedCategoria.$invalid">
                <small ng-show="modalEditarHistoriaVial.selectedCategoria.$error.required" class="text-danger">
                    @L("")Debe seleccionar una categoría
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarHistoriaVial.iptImagen.$dirty && modalEditarHistoriaVial.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <label class="control-label" for="iptImagen">@L("")URL Imagen</label>
                    <input type="text" class="form-control" id="iptImagen" name="iptImagen" placeholder="@L("")Ingrese la URL de la imagen" ng-model="historiaVial.url" required maxlength="4096" />
                    <div ng-show="modalEditarHistoriaVial.iptImagen.$dirty && modalEditarHistoriaVial.iptImagen.$invalid">
                        <small ng-show="modalEditarHistoriaVial.iptImagen.$error.required" class="text-danger">
                            @L("")La URL de la imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
                        <img class="img-responsive" src="{{historiaVial.url}}" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalEditarHistoriaVial.$invalid">@L("")Guardar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>
