<div class="modal-header">
    <h3>{{entidadNombre}}</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalEditarEntidades">
        <div class="form-group" ng-class="{'has-error' : modalEditarEntidades.iptNombre.$dirty && modalEditarEntidades.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">@L("")Texto</label>
            <input type="text" class="form-control" id="iptNombre" name="iptNombre" placeholder="@L("")Ingrese la pregunta" ng-model="entidad.nombre" required maxlength="512" />
            <div ng-show="modalEditarEntidades.iptNombre.$dirty && modalEditarEntidades.iptNombre.$invalid">
                <small ng-show="modalEditarEntidades.iptNombre.$error.required" class="text-danger">
                    @L("")El nombre de la entidad es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarEntidades.iptDescripcion.$dirty && modalEditarEntidades.iptDescripcion.$invalid}">
            <label class="control-label" for="iptDescripcion">@L("")Descripción</label>
            <textarea class="form-control" id="iptDescripcion" name="iptDescripcion" placeholder="@L("")Ingrese la respuesta" ng-model="entidad.descripcion" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalEditarEntidades.iptDescripcion.$dirty && modalEditarEntidades.iptDescripcion.$invalid">
                <small ng-show="modalEditarEntidades.iptDescripcion.$error.required" class="text-danger">
                    @L("")La descripcion de la entidad requerida
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarEntidades.selectedDimension.$dirty && modalEditarEntidades.selectedDimension.$invalid }">
            <label class="control-label" for="selectedDimension">@L("")Dimesión</label>
            <select ng-model="entidad.dimensionId" ng-options="to.id as to.nombre for to in listaDimensiones" class="form-control" name="selectedDimension" id="selectedDimension">
                <option value="">@L("")Seleccione...</option>
            </select>
            <div ng-show="modalEditarEntidades.selectedJuego.$dirty && modalEditarEntidades.selectedJuego.$invalid">
                <small ng-show="modalEditarEntidades.selectedJuego.$error.required" class="text-danger">
                    @L("")La dimensión de la entidad es requerida
                </small>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalEditarEntidades.$invalid">@L("")Guardar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>
