<div class="modal-header">
    <h2>@L("")Agregar Diagnóstico</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalNuevoDiagnostico">
        <div class="form-group" ng-class="{'has-error' : modalNuevoDiagnostico.iptNombre.$dirty && modalNuevoDiagnostico.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">@L("")Nombre</label>
            <textarea class="form-control" id="iptNombre" name="iptNombre" placeholder="@L("")Ingrese el nombre" ng-model="diagnostico.nombre" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalNuevoDiagnostico.iptNombre.$dirty && modalNuevoDiagnostico.iptNombre.$invalid">
                <small ng-show="modalNuevoDiagnostico.iptNombre.$error.required" class="text-danger">
                    @L("")El nombre es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevoDiagnostico.iptObservaciones.$dirty && modalNuevoDiagnostico.iptObservaciones.$invalid}">
            <label class="control-label" for="iptObservaciones">@L("")Observaciones</label>
            <textarea class="form-control" id="iptObservaciones" name="iptObservaciones" placeholder="@L("")Ingrese las Observaciones" ng-model="diagnostico.observaciones" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalNuevoDiagnostico.iptObservaciones.$dirty && modalNuevoDiagnostico.iptObservaciones.$invalid">
                <small ng-show="modalNuevoDiagnostico.iptObservaciones.$error.required" class="text-danger">
                    @L("")Las Observaciones son requeridas
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevoDiagnostico.chkRequerido.$dirty && modalNuevoDiagnostico.chkRequerido.$invalid}">
            <div class="checkbox c-checkbox needsclick">
                <label class="needsclick">
                    <input id="chkRequerido" name="chkRequerido" type="checkbox" class="needsclick" ng-model="diagnostico.esRequerido">
                    <span class="fa fa-check"></span>@L("")El item es obligatorio para viajar?
                </label>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevoDiagnostico.iptImagen.$dirty && modalNuevoDiagnostico.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <label class="control-label" for="iptImagen">@L("")URL Imagen</label>
                    <input type="text" class="form-control" id="iptImagen" name="iptImagen" placeholder="@L("")Ingrese la URL de la imagen" ng-model="diagnostico.urlImagen" required maxlength="4096" />
                    <div ng-show="modalNuevoDiagnostico.iptImagen.$dirty && modalNuevoDiagnostico.iptImagen.$invalid">
                        <small ng-show="modalNuevoDiagnostico.iptImagen.$error.required" class="text-danger">
                            @L("")La URL de la imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{diagnostico.urlImagen}}" />
                </div>
            </div>
        </div>    
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalNuevoDiagnostico.$invalid">@L("")Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>