<div class="modal-header">
    <h2>@L("")Agregar Imagen de slider</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalNuevaDeslizador">
        <div class="form-group" ng-class="{'has-error' : modalNuevaDeslizador.iptNombre.$dirty && modalNuevaDeslizador.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">@L("")Titulo</label>
            <textarea class="form-control" id="iptNombre" name="iptNombre" placeholder="@L("")Ingrese el nombre de la imagen" ng-model="deslizador.nombre" required maxlength="2048" rows="5"></textarea>
            <div ng-show="modalNuevaDeslizador.iptNombre.$dirty && modalNuevaDeslizador.iptNombre.$invalid">
                <small ng-show="modalNuevaDeslizador.iptNombre.$error.required" class="text-danger">
                    @L("")El titulo es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalNuevaDeslizador.iptImagen.$dirty && modalNuevaDeslizador.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <label class="control-label" for="iptImagen">@L("")Imagen</label>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row bow-margin-top-10">
                                <div class="col-md-12">
                                    <div class="btn btn-info" ngf-select ngf-change="onFileSelect($files)">Seleccionar imagen</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img class="img-responsive" />
                        </div>
                    </div>
                    <input type="hidden" id="iptImagen" name="iptImagen" ng-model="deslizador.urlImagen" required />
                    <div ng-show="modalNuevaDeslizador.iptImagen.$dirty && modalNuevaDeslizador.iptImagen.$invalid">
                        <small ng-show="modalNuevaDeslizador.iptImagen.$error.required" class="text-danger">
                            @L("")La imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{deslizador.urlImagen}}" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalNuevaDeslizador.$invalid">@L("")Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>