<div class="modal-header">
    <h2>@L("")Modificar Imagen de deslizador</h2>
</div>
<div class="modal-body">
    <div class="alert alert-danger text-center" ng-show="mensajeError">
        <strong>{{mensajeError}}</strong>
    </div>
    <form role="form" name="modalEditarDeslizador">
        <div class="form-group" ng-class="{'has-error' : modalEditarDeslizador.iptNombre.$dirty && modalEditarDeslizador.iptNombre.$invalid}">
            <label class="control-label" for="iptNombre">@L("")Titulo</label>
            <textarea class="form-control" id="iptNombre" name="iptNombre" placeholder="@L("")Ingrese el nombre de la imagen" ng-model="deslizador.nombre" required maxlength="4096" rows="5"></textarea>
            <div ng-show="modalEditarDeslizador.iptNombre.$dirty && modalEditarDeslizador.iptNombre.$invalid">
                <small ng-show="modalNuevaDeslizador.iptNombre.$error.required" class="text-danger">
                    @L("")El titulo es requerido
                </small>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : modalEditarDeslizador.iptImagen.$dirty && modalEditarDeslizador.iptImagen.$invalid}">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="iptImagen">@L("")Imagen</label>
                        </div>
                    </div>
                    <div class="row bow-margin-top-10">
                        <div class="col-md-12">
                            <div class="btn btn-info" ngf-select ngf-change="onFileSelect($files)">Seleccionar imagen</div>
                        </div>
                        <div class="col-md-12 bow-padding-top-10" ng-show="showProgressBar">
                            <div class="progress ng-isolate-scope text-center" value="0">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" style="width: 0%;"></div>
                                <span class="text-nowrap ng-binding ng-scope text-bold">Cargando ...</span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="iptImagen" name="iptImagen" ng-model="deslizador.urlImagen" required />
                    <div ng-show="modalEditarDeslizador.iptImagen.$dirty && modalEditarDeslizador.iptImagen.$invalid">
                        <small ng-show="modalEditarDeslizador.iptImagen.$error.required" class="text-danger">
                            @L("")La imagen es requerida
                        </small>
                    </div>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{{deslizador.urlImagen}}" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="okModal()" ng-disabled="modalEditarDeslizador.$invalid">@L("")Aceptar</button>
    <button class="btn btn-danger" ng-click="cancelModal()">@L("")Cancelar</button>
</div>